  body {
    font-family: 'Amatic SC', cursive;
    margin: 0px auto;
    text-align: center;
  }
  
  main {
    margin: 0px 25px 0px 25px;
    overflow:hidden;
  }
  
  h1 {
    text-align: center;
    font-size: 8vw;
  }
  
  h2 {
    margin: 5px auto;
  }
  
  img {
    border: 1.5px solid #888;
    box-shadow: 3px 3px #888;
    margin: 0px auto;
  }
  
  p {
    margin: 5px auto;
  }
  
  select {
    margin: 10px auto;
    display: block;
  }
  
  footer {
    clear: both;
    margin: 25px auto;
    bottom: 0px;
  }

  div {
    float: left;
    margin: 2% 2% 0 2%;
    width: 94%;
    height: 400px;
  }
  
  h2 {
    font-size: 6vw;
  }
  
  img {
    width: 75%;
  }
  
  p {
    width: 80%;
    font-size: 4vw;
  }
  
  select {
    height: 5vw;
  }
  
  footer {
    font-size: 6vw;
  }
  